.accountedit-container{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    height: 100vh;
}

.edit-detail{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100% !important;
    align-items: center;
}

.edit-detail input{
    width: auto;
}