.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--primary-background-color);
    height: 100vh;
    position: relative;
}

/* popup */
.popup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #d1cbcb;
    color: #000;
    padding: 1rem;
    gap: 2rem;
}

.popup-left p{
    color: #000;
}

.popup-left p a{
    color: blue;
    text-decoration: underline;
}

.dashboard-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #d1cbcb;
    border-bottom: 2px solid ;
    height: 4rem;
    align-items: center;
    font-size: 2.4rem;  
}
.home-page{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.new-home{
    height: 5rem;
    position: relative
;
}



.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;
}

.items a{
    color: #d1cbcb;
    font-size: 2rem;  
    font-weight: 600;

}
.left{
    /* align-self: flex-start; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.left p{
    cursor: pointer;
}
.left img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.right{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
}


.Dashboard a{
    font-size: 2rem;
    /* color: #d1cbcb; */
    font-weight: 600;
}
.right a{
    font-size: 1.5rem;
    font-weight: 600;
}
.Dashboard a:hover {
    /* color: var(--secondary-color); */
}

.logout{
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.create-card{
    border: 1px solid #d1cbcb;
    height: 30%;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #d1cbcb;
}

.create-card:hover{
    background-color: #d1cbcb;
    color: black !important;
}

.Resume > *{
    background: var(--primary-background-color) !important;
    height: 100%;
    width: 100%;
    padding: 4rem 0 0 2rem;
}

.ResumeComponent {
    padding: 5rem;
    font-size: 130%;
    display: flow-root;
    max-width: 1200px;
}
.ResumeComponent .resume-header{
    font-size: var(--resume-fontsize);
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 2rem;
}
.ResumeComponent .contact-details {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    gap: 2rem;
}
.ResumeComponent .contact-details li {
    font-size: var(--resume-fontsize);
}
.resume-name {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.resume-headline {
    text-align: center;
    font-size: var(--resume-fontsize);
    color: #000;
    font-weight: 300;
}
.ResumeComponent .resume-summary-content{
    font-size: var(--resume-fontsize);
}
.resume-skills, .resume-tech-skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.resume-skills div, .resume-tech-skills div {
  flex: 0 0 33.333333%;
  font-size: var(--resume-fontsize);
}
.resume-sub-details {
    text-align: center;
    margin-bottom: 3rem;
}
.resume-sub-details ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.resume-sub-details ul li{
    font-size: var(--resume-fontsize);
}

.resume-sub-details .responsibilities{
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2px;
    margin-top: 1rem;
}
.resume-sub-details .responsibilities li{
    margin-left: 2rem;
    text-align: left;
    list-style: disc;
    font-weight: 100;
}

li:first-child {
    list-style: none;
}

.download-pdf, .edit-pdf {
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    width: 10rem;
    margin: 0 1rem 1rem;
}

.pdf-print {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Files {
    background: var(--primary-background-color);
    /* height: 100%; */
    padding: 6rem 2rem 2rem 2rem;
}

.Files table {
    width: 60%;
    margin: 0rem auto;
    font-size: 1.6rem;
}

.file-pdf {
    display: none;
  }

  i{
    cursor: pointer;
  }

  p{
    color: #fff;
    /* --resume-fontsize: 2rem; */
    font-size: 1.5rem !important;
    font-weight: 700;
  }
  .row1{
    padding-bottom: 2rem;
    padding-top: .5rem;
    cursor: pointer;
  }

  .row{
    display: flex;
    align-items: center;
  }

  .sections{
    border-bottom: 0.2rem solid grey !important;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-bottom-width: 70%;
    width: 70%;
  }

  .remove_button{
    align-items: flex-end;
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
  }
  .section-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    width: 50.8%;
        border: 1px solid ;
    border-radius: 4px;
    align-items: center;
    color: #9b9999;
}
  

/* remove */

.remove-heading{
    display: flex;
    align-items: center;
    width: 50%;
    color: #9b9999;
}

.remove-heading p{
    color: #9b9999;
}
  .remove{
    margin-left: 26%;
    margin-top: 0;
  }

  .remove button{
    margin-top: 0;
    float: right;
    /* right: 13rem; */
    padding: 0.5rem;
  }

  .add{
    width: 19rem;
    text-align: center;
    color: #9b9999;
  }

  .add:hover{
    cursor: pointer;
  }

@media print {
    .ResumeComponent { 
        font-size: 10pt;
    }
    @page {
      margin: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .section-heading{
        width: 100%;
    }
    }

    @media only screen and (max-width: 1000px) {
        .sections{
            width: 100%;
          }
        }

    @media only screen and (max-width: 400px) {
        .home-page{
            gap: 1rem;
        }
        .right{
            gap: 1rem;
        }
        .left{
            gap: 1rem;
        }
        .sections{
            width: 100%;
          }
        }

