
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Signup {
    background: #000;
    min-height: 100vh;
}

.otp-button {
    padding: 12px 16px;
    border-radius: 4px;
    margin-top: 0px;
    /* margin-left: 25px; */
    width: 104px;
}


  

ul {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .otp-input {
        display: contents;
    }
    .otp-input input{
        margin-top: 2rem;
    }
}